body{
  background-color: #615C99;
  color:#ffecdb;
}

html * {
  font-family: 'GFS Didot', serif;
}


form {
  border: 2px solid black;
  border-radius: 30px;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0px 15%; 
  background-color: #9B88AA;
}

Input {
  border-radius:  10px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

input{
  color:#ffecdb;
  background-color: #615C99;
}



Button:hover{
  background-color: black;
  color:#ffecdb;
}

a{
  text-decoration: none;
  color:#DAD2D8;
}

a:hover {
  color: whitesmoke;
}

header{
  background-color: hsl(254, 21%, 56%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  
}

nav a {
 margin-right: 10px;
  
}



h1{
  margin:0px;
}

h2, p, h3, main a, h4, span, div.results {
  display: flex;
  justify-content: center;
  align-items: center;
}

main.DisplayFeedback{
  display:flex;
  flex-direction: column;
  align-items: center;
}

Button{
  display:flex;
  margin-bottom: 5px;
  border-radius: 20px;
  background-color: #615C99 ;
  color:#ffecdb;
}
ul{
  list-style: none;
  padding: 0px;
}

.homepage {
  border: 2px solid #ffecdb;
  margin: 10% 10%;
  padding: 10%;
  border-radius: 25px;
}

li {
  border: 2px solid #ffecdb;
  margin: 0 10%;
  border-radius: 50%;
  padding-bottom: 5%;
}

.dashboard a {
  border: 2px solid #ffecdb;
  margin: 0 25%;
  padding: 3%;
  border-radius: 25px;

}

.dashboard a:hover {
  color: hsl(254, 21%, 56%);
  background-color: #ffecdb;
}

.results {
  margin: 2% 0;
}

form label {
  margin: 20px 0;
}

form input {
  margin-bottom: 20px;
  padding: 5px;
}

.response {
  margin-top:10%;
}

